<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="../src/styles/perfil.css">
</head>
<body class="main ">
    <div class="parent">
       <header class="div1">
        <img class="logo e1" src="../src/assets/images/Logo - noche.png" alt="Tertulia">
        <div class="btn e2"><a href="./vistaprincipal.html">Volver</a></div>
        <div id="logout" class="btn e3">Salir</div>
            
        </header>
    
      <!-- Encabezado -->
      <div class="div2 conteiner">
      <h1>Perfil de Usuario</h1></div>
    
      <!-- Información del Usuario -->
      <div class="div3 conteiner">
      <h2>Información del Usuario</h2>
      <div class="info-usuario">
          <p><strong>Nombre:</strong> Nombre del Usuario</p>
          <p><strong>Correo:</strong> correo@example.com</p>
          
      </div></div>
  
      <!-- Servidores Creados por el Usuario -->
      <div class="div4 conteiner">
      <h2>Servidores Creados</h2>
      <ul class="servidoresCreados">
          <li>Servidor 1</li>
          <li>Servidor 2</li>
          <!-- Lista de servidores creados por el usuario -->
      </ul></div>
      
      <!-- Mensajes Enviados por el Usuario -->
      <div class="div5 conteiner">
      <h2>Ultimos Mensajes Enviados</h2>
      <ul class="mensajesUsuario">
          <li>Mensaje 1</li>
          <li>Mensaje 2</li>
          <!-- Lista de mensajes enviados por el usuario -->
      </ul>  </div>
    </div> 
    <script src="../scripts/logout.js"></script>
    <script src="../scripts/perfil.js"></script>
</body>
</html>