<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tertulia</title>
    <link rel="stylesheet" href="../src/styles/chat.css">
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <ul id="sideBar" >
                <li class="tooltip" id=""><img class="icono hover " id="add" src="../src/assets/images/Añadir_canal.png" alt="">
                    <span class="tooltiptext">Crear nuevo Servidor</span>
                  </li>

                <li class="tooltip" id=""><img class="icono hover" id="explore" src="../src/assets/images/Explorar_canal.png" alt="">
                    <span class="tooltiptext">Explorar Servidores</span>
                  </li>
           </ul>
            <div id="logout">Salir</div>
        </div>
        <div class="section">
            <div class="msgs" id="canales">
                <h5>Canales</h5>
            </div>
            <div class="user">
                <img src="../src/assets/images/user_default.png" alt="" class="icono">
                <h2 id="alias"></h2>
            </div>
        </div>
        <div class="screen">
            <div id="container_canal"></div>
            <div class="chat-container">
                <div class="chatbox" id="chatbox"></div>
                <div class="msj-flex">
                    <input type="text" id="mensaje" placeholder="Escribe tu mensaje aquí...">
                    <button id="enviar">enviar</button>
                </div>
            </div>
            <p id="empty">Aún no te has unido a un servidor <br>
                Intenta buscar uno o crea uno propio</p>
        </div>
    </div>
    <!--REGISTRO DE SERVIDOR-->
    <div class="overlay" id="overlay">
        <div class="popup" id="popup">
            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="">x</i></a>
            <h3>CREAR UN SERVIDOR</h3>
            <form id="crearServer">
                <div class="contenedor-inputs">
                    <input type="text" placeholder="Nombre del servidor" id="server_name">
                    <input type="text" placeholder="Descripcion" id="server_description">
                </div>
                <input type="submit" class="btn-submit" value="Crear">
            </form>
        </div>
    </div>
</div>
    <div id="message"></div>
    <script src="../scripts/channels.js"></script>
    <script src="../scripts/logout.js"></script>
    <script src="../scripts/chat.js"></script>
</body>
</html>