<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tertulia</title>
    <link rel="stylesheet" href="../src/styles/chat.css">
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <ul>
                <li><img class="icono hover" id="add" src="../src/assets/images/Añadir_canal.png" alt=""></li>
                <li><img class="icono hover" id="explore" src="../src/assets/images/Explorar_canal.png" alt=""></li>
            </ul>
            <div id="logout">Salir</div>
        </div>
        <div class="section">
            <div class="msgs"></div>
            <div class="user">
                <img src="../src/assets/images/user_default.png" alt="" class="icono">
                <h2 id="alias"></h2>
            </div>
        </div>
        <div class="screen">
            <div id="container_canal">
                <div class="canal">
                    <img src="../src/assets/images/canales/literatura.png" alt="channel" class="canal_img">
                    <h5>Literatura Fantástica</h5>
                </div>
                <div class="canal">
                    <img src="../src/assets/images/canales/pelicula.png" alt="channel" class="canal_img">
                    <h5>Locura <br>
                    Cinematográfica</h5>
                </div>
                <div class="canal">
                    <img src="../src/assets/images/canales/viajes.png" alt="channel" class="canal_img">
                    <h5>Relatos de <br>
                    Viajes</h5>
                </div>
                <div class="canal">
                    <img src="../src/assets/images/canales/salud.png" alt="channel" class="canal_img">
                    <h5>Bienestar y <br>
                    Salud</h5>
                </div>
                <div class="canal">
                    <img src="../src/assets/images/canales/consola.png" alt="channel" class="canal_img">
                    <h5>Central de <br>
                    Juegos</h5>
                </div>
                <div class="canal">
                    <img src="../src/assets/images/canales/deportes.png" alt="channel" class="canal_img">
                    <h5>Fanáticos del <br>
                    Deporte</h5>
                </div>
                <div class="canal">
                    <img src="../src/assets/images/canales/musica.png" alt="channel" class="canal_img">
                    <h5>Caos <br>
                    Musical</h5>
                </div>
            </div>
            <p id="empty">Aún no te has unido a un servidor <br>
                Intenta buscar uno o crea uno propio</p>
        </div>
    </div>
    <div id="message"></div>
    <script src="../scripts/channels.js"></script>
    <script src="../scripts/logout.js"></script>
</body>
</html>